.cover {
    background-image: url(./img/type.jpg);
    display: flex;
    /*background-color: black;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position:sticky;
    text-align: center;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 900px;
    font-family: 'Staatliches', cursive;
}

.name {
    color: white;
    font-size: 200px;
    opacity: 1;
    animation: fade 3s linear;
}

.dev{
    color: red;
    border-color: white;
    font-size: 200px;
    padding-left: 30px;
}


@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
